.cover {
	background-color: var(--cover);
	position: absolute;
	display: grid;
	place-content: center;
	width: 100%;
	height: 100%;
	z-index: 1;

	:global(h1){
		font-size: var(--text-h2);
		font-weight: var(--weight-bold);
	}
}
.button {
	position: absolute;
	width: 100%;
	height: 100%;
	color: var(--color-white);
	font-size: var(--text-mega);
	font-weight: var(--weight-bold);
	user-select: none;
	display: grid;
	place-content: center;
	padding-top: 25%;
	box-sizing: border-box;
	background-color: #404040;
	text-align: center;
	cursor: pointer;
}
.buttons {
	position: absolute;
	bottom: max(1.5rem, env(safe-area-inset-bottom));
	left: 1.5rem;
	width: calc(100% - 3rem);
	display: flex;
	gap: 0.75rem;
	& > button {
		flex: 1;
		outline: none;
	}
}
.increment {
	position: absolute;
	top: 75%;
	width: 100%;
	height: 25%;
	text-align: center;
	background: rgba(255,255,255,0.02);
	color: rgba(255,255,255,0.25);
	transition: background 0.08s;
	&:active {
		color: rgba(255,255,255,0.35);
	}
}